* {
	font-family: "Helvetiva", "Arial", "Verdana" "sans-serif";
}

header {
	border-bottom: 1px solid #ccc;
	height: 100px;
}
 
header a {
	text-decoration: none;
}

header a:hover{
	text-decoration: underline;
}

header nav{
	float: right;
	margin-top: 25px;
}

